<ion-header>
  <ion-toolbar color="primary">
    <ion-title> 10 Unusual facts about Space </ion-title>
  </ion-toolbar>
  <a routerLink="/home"
    ><ion-icon name="arrow-undo-outline"></ion-icon>Home
  </a> </ion-header
><ion-img
  width="10"
  height="10"
  src="../../assets/images/astronaute.jpg"
></ion-img>

<ion-content>
  <ion-card>
    <p>
      1- A bat has traveled in space<br />
      2- The Pioneer plate is a "bottle in the interstellar sea"<br />
      3- We grow in space<br />
      4- The tears do not flow<br />
      5- NASA played the Beatles' "Across the Universe" in space<br />
      6- The space is completely silent<br />
      7- Astronauts' footprints will remain on the moon for life<br />
      8- If two pieces of metal meet, they stick together<br />
      9- Alan Shepard played golf on the moon<br />
      10- the milky way would have an odor of Rum and a taste of raspberry
      because there is ethyl formate
    </p></ion-card
  >
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
          <ion-icon name="rocket-outline" routerLink="/nasa-story"></ion-icon>
          <ion-label>Nasa story</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
          <ion-icon name="star-outline" routerLink="/slides-photos"></ion-icon>
          <ion-label>Gallery</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
          <ion-icon name="planet-outline" routerLink="/space"></ion-icon>
          <ion-label>Unusual facts</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
