<ion-header>
  <ion-toolbar>
    <ion-title>Welcome on Uranus !</ion-title>
    <a routerLink="/home"
      ><ion-icon name="arrow-undo-outline"></ion-icon>Home</a
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img
    width="80"
    height="80"
    src="../../assets/images/uranus.jpg"
  ></ion-img>
  <ion-button color="secondary"> Specifications </ion-button>
  <ion-card>
    <p>
      Uranus is the seventh planet from the Sun, and has the third-largest
      diameter in our solar system. It was the first planet found with the aid
      of a telescope, Uranus was discovered in 1781 by astronomer William
      Herschel, although he originally thought it was either a comet or a star.
      It was two years later that the object was universally accepted as a new
      planet, in part because of observations by astronomer Johann Elert Bode.
      Herschel tried unsuccessfully to name his discovery Georgium Sidus after
      King George III. Instead, the scientific community accepted Bode's
      suggestion to name it Uranus, the Greek god of the sky, as suggested by
      Bode.​
    </p></ion-card
  >
</ion-content>

<!--Bas de la page-->
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
          <ion-icon name="rocket-outline" routerLink="/nasa-story"></ion-icon>
          <ion-label>Nasa story</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
          <ion-icon name="star-outline" routerLink="/slides-photos"></ion-icon>
          <ion-label>Gallery</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
          <ion-icon name="planet-outline" routerLink="/space"></ion-icon>
          <ion-label>Unusual facts</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
